.example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  

  .contaner{
    width: 500px;
    margin: auto;
    margin-top: 150px;
    
  }

  .example-card{
    align-items: center;
    padding: 20px 20px;
    background-color: rgb(255, 242, 240);
  }

  mat-form-field {
    width: 300px;
  }