<div class="contaner" >
    <mat-card class="example-card">
        <h2>Register</h2>
         <form [formGroup]="registrationForm">

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>User Name</mat-label>
                    <input  matInput placeholder="Ex. nuwan"  required formControlName="userName">
                    <mat-error 
                  *ngIf="registrationForm.controls['userName'].dirty ||
                  registrationForm.controls['userName'].hasError('required')">please enter valid User Name</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                  <mat-label>Enter your email</mat-label>
                  <input matInput placeholder="pat@example.com" formControlName="email" required>
                  <mat-error 
                  *ngIf="registrationForm.controls['email'].dirty ||
                  registrationForm.controls['email'].hasError('required')">please enter valid email</mat-error>
                  
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" required formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error 
                  *ngIf="registrationForm.controls['password'].dirty ||
                  registrationForm.controls['password'].hasError('required')">please enter valid password</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Role</mat-label>
                    <input matInput placeholder="Ex. user" formControlName="role" >
                </mat-form-field>
            </div>
            
            <div>
                <button (click)="onRegister()" mat-raised-button color="primary" >Register</button>
                <span> Already have account? <a href="http://localhost:4200/login">Login</a></span>
            </div>
              
         </form>   
    </mat-card>
</div>