 .contaner{
    width: 400px;
    margin: auto;
    margin-top: 200px;
    align-items: center;
  }

  .example-card{
    align-items: center;
    padding: 20px 20px;
    background-color: rgb(255, 242, 240);
    padding-left: 50px;
    padding-right: 50px;
  }

  mat-form-field {
    width: 300px;
  }
.ForgotPassword{
  color: blueviolet;
  text-align: right;
}