<div class="contaner" >
    <mat-card class="example-card">
        <h2>Reset Password!</h2>
         <form [formGroup]="resetForm">
              <mat-form-field appearance="outline">
                <mat-label>Enter New password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" required formControlName="npassword">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error 
                  *ngIf="resetForm.controls['npassword'].dirty ||
                  resetForm.controls['npassword'].hasError('required')">please enter valid password</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Enter Confirm password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" required formControlName="cpassword">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error 
                  *ngIf="resetForm.controls['cpassword'].dirty &&
                  resetForm.controls['cpassword'].hasError('required')">please enter valid password</mat-error>
              </mat-form-field>

              <div>
                <button (click)="onSubmit()" mat-raised-button color="primary" type="submit" >Reset</button>
               
              </div>
              
         </form>   
    </mat-card>
</div>