<h1 mat-dialog-title>Forget Your password?</h1>
<div mat-dialog-content>
  <p>please provide your E-mail we will send the reset link.</p>
  <mat-form-field appearance="outline">
    <mat-label>Input Email</mat-label>
    <input matInput [(ngModel)]="resetPasswordEmail" (ngModelChange)="checkValidEmail($event)">
  </mat-form-field><br>
  <div>
    <small >
        <mat-error *ngIf="!resetPasswordEmail">Email is required</mat-error>
        <mat-error *ngIf="!isvalidEmail && resetPasswordEmail">Email is invalid</mat-error>
    </small>
  </div>
  
  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="CancelClick()">Cancel</button>
  <button mat-button (click)="OkClick()"  cdkFocusInitial>Ok</button>
</div>